<!DOCTYPE html>
<html lang="en">


<!-- molla/index-3.html  22 Nov 2019 09:55:42 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Teknik Atılım Kırtasiye</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="Kırtasiye Sistemleri" content="Kırtasiye Sistem Ürünleri">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/jpg" sizes="32x32" href="~/assets/images/icons/favicon-32x32.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="~/assets/images/icons/site.html">
    <link rel="mask-icon" href="~/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="~/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Teknik Atılım">
    <meta name="application-name" content="Teknik Atılım">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/skins/skin-demo-3.css">
    <link rel="stylesheet" href="~/assets/css/demos/demo-3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="page-wrapper">
        <header class="header header-intro-clearance header-3">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <a href="tel:902126592750"><i class="icon-phone"></i>Tel:(0212) 659 27 50 </a>
                    </div><!-- End .header-left -->

                    <div class="header-right">

                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li>
                                        <i style="font-size:20px" class="fa">&#xf232;</i>
                                        <a class="cg pegk " href="https://api.whatsapp.com/send?phone=+905425079626&amp;text=Merhaba,">Whatsapp</a> &nbsp;
                                    </li>
                                    <li>
                                        <istyle ="font-size:30px" class="fa">
                                            &#xf0e0;</i>
                                            <a class="fa" href="mailto:satisdestek@teknikatilim.com.tr">satisdestek@teknikatilim.com.tr</a>
                                    </li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle">
               
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                        <a href="~/home" class="logo">
                            <img src="~/assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Ara</label>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Ürün Ara ..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </div>

                    <div class="header-right">
                        <!----> <div class="dropdown compare-dropdown">
                        </div><!-- End .compare-dropdown -->


                        <div class="dropdown cart-dropdown">
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <div class="dropdown category-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="KATEGORİLER">
                                KATEGORİLER <i class="icon-angle-down"></i>
                            </a>

                            <div class="dropdown-menu">
                                <nav class="side-nav">
                                    <ul class="menu-vertical sf-arrows">
                                        <li class="item-lead"><a href="#">MARKALAR</a></li>
                                        <li class="item-lead"><a href="#">Cilt Sistemleri </a></li>
                                        <li><a href="#">Display Ürünleri </a></li>
                                        <li><a href="#">Evrak Imha Sistemleri </a></li>
                                        <li><a href="#">Hesap Makineleri </a></li>
                                        <li><a href="#">Kağıt Kesme Sistemleri</a></li>
                                        <li><a href="#">Kaşe Sistemleri</a></li>
                                        <li><a href="#">Kart Aksesuarları</a></li>
                                        <li><a href="#">Kırtasiye Ürünleri </a></li>
                                        <li><a href="#">Laminasyon Sistemleri</a></li>
                                        <li><a href="#">Masaüstü Ofis Gereçleri</a></li>
                                        <li><a href="#">Para Sayma Makineleri </a></li>
                                        <li><a href="#">Uv Yazıcılar </a></li>
                                    </ul><!-- End .menu-vertical -->
                                </nav><!-- End .side-nav -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .category-dropdown -->
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="mcontainer active">
                                    <a href="~/home" class="sf-with">Ana Sayfa</a>
                                </li>
                                <li>
                                    <a href="category.html" class="sf-with-ul">MARKALAR</a>

                                    <div class="megamenu megamenu-md">
                                        <div class="row no-gutters">
                                            <div class="col-md-8">
                                                <div class="menu-col">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="menu-title">Ithalat</div><!-- End .menu-title -->
                                                            <ul>
                                                                <li><a href="category-list.html">KJEA</a></li>
                                                                <li><a href="category-2cols.html">TESLIN</a></li>
                                                                <li><a href="category.html">SAFESCAN</a></li>
                                                                <li><a href="category-4cols.html">KANEX</a></li>
                                                                <li><a href="category-market.html"><span> WRITECH<span class="tip tip-new">Yeni</span></span></a></li>
                                                            </ul>

                                                            <div class="menu-title">Ispanya Menşei</div><!-- End .menu-title -->
                                                            <ul>
                                                                <li><a href="category-boxed.html"><span>JOVI<span class="tip tip-new">Yeni</span></span></a></li>
                                                                <li><a href="category-fullwidth.html"><span>MILAN<span class="tip tip-hot">+</span></a></li>
                                                            </ul>
                                                        </div><!-- End .col-md-6 -->

                                                        <div class="col-md-6">
                                                            <div class="menu-title">Kendi Markalarımız</div><!-- End .menu-title -->
                                                            <ul>
                                                                <li><a href="product-category-boxed.html">SARFF</a></li>
                                                                <li><a href="product-category-fullwidth.html">UBER</a></li>
                                                            </ul>
                                                            <div class="menu-title">Diğer Markalar</div><!-- End .menu-title -->
                                                            <ul>
                                                                <li><a href="cart.html">TKART</a></li>
                                                                <li><a href="checkout.html">KW-TRIO</a></li>
                                                                <li><a href="wishlist.html">DAHLE</a></li>
                                                                <li><a href="dashboard.html">COLOP</a></li>
                                                                <li><a href="dashboard.html">404</a></li>

                                                            </ul>
                                                        </div><!-- End .col-md-6 -->
                                                    </div><!-- End .row -->
                                                </div><!-- End .menu-col -->
                                            </div><!-- End .col-md-8 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .megamenu megamenu-md -->
                                </li>
                                <li>
                                    <a href="product.html" class="sf-with-ul">Makinalar</a>

                                    <div class="megamenu megamenu-sm">
                                        <div class="row no-gutters">
                                            <div class="col-md-6">
                                                <div class="menu-col">
                                                    <div class="menu-title">Makina Çeşitleri</div><!-- End .menu-title -->
                                                    <ul>
                                                        <li><a href="product.html">Evrak İmha</a></li>
                                                        <li><a href="product-centered.html">Kağıt Kırma</a></li>
                                                        <li><a href="product-extended.html">Laminasyon Makinası</a></li>
                                                        <li><a href="product-gallery.html">Para Sayma</a></li>
                                                        <li><a href="product-sticky.html">Ciltleme Makinası</a></li>
                                                        <li><a href="product-sidebar.html">Hesap Makinası</a></li>
                                                    </ul>
                                                </div><!-- End .menu-col -->
                                            </div><!-- End .col-md-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .megamenu megamenu-sm -->
                                </li>
                                <li>
                                    <a href="~/about/index" class="sf-with-ul">Hakkımızda</a>

                                    <div class="megamenu megamenu-sm">
                                        <div class="row no-gutters">
                                            <div class="col-md-6">
                                                <div class="menu-col">
                                                    <div class="menu-title">Hakkımızda</div><!-- End .menu-title -->
                                                    <ul>
                                                        <li><a href=~/about/index>Hakkımızda</a></li>
                                                        <li><a href="~/about/Vision">Vizyon</a></li>
                                                        <li><a href="~/about/service">Teknik Servis</a></li>
                                                    </ul>
                                                </div><!-- End .menu-col -->
                                            </div><!-- End .col-md-6 -->
                                        </div><!-- End .row -->
                                    </div>
                                </li>
                                <li>
                                    <a href=/home/contac class="sf-with-ul">İletişim</a>
                                </li>

                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-center -->

                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->
        @RenderBody()

        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="~/assets/images/logo.png"  class="footer-logo" alt="Footer Logo" width="105" height="25">
                                <p>Teknik Atılım Kırtasiye Sistemleri olarak 1979 dan beri hizmet veriyoruz.</p>

                                <div class="widget-call">
                                    <i class="icon-phone"></i>
                                    Bilgi için:<br />Arayın 08:30-18:00
                                    <a href="tel:902126592750"><i class="icon-phone"></i>Tel:212 659 27 50</a>
                                </div><!-- End .widget-call -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->



                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title"></h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <br>
                                <h4 class="widget-title">Kurumsal</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href=~/about/index>Hakkımızda</a></li>
                                    <li><a href="~/about/Vision">Vizyon</a></li>
                                    <li><a href=about/service>Teknik Servis</a></li>
                                    <li><a href=about/contact>İletişim</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <br>
                                <h4 class="widget-title">Satış</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="https://b2b.teknikatilim.com.tr/ target="_blank">B2B Satış</a></li>
                                    <li><a href="cart.html">Toptancılar</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2024 Teknik Atılım. Her Hakkı Saklıdır. Ali Kutlu.</p><!-- End .footer-copyright -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Ara</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab" aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel" aria-labelledby="mobile-menu-link">
                    <nav class="mobile-nav">
                        <ul class="mobile-menu">
                            <a href="index-3.html">Ana Sayfa</a>
                            <li>
                                <a href="category.html">Markalar</a>
                                <ul>
                                    <li><a href="category-list.html">KJEA</a></li>
                                    <li><a href="category-2cols.html">TESLIN</a></li>
                                    <li><a href="category.html">SAFESCAN</a></li>
                                    <li><a href="category-4cols.html">KANEX</a></li>
                                    <li><a href="category-market.html"><span> WRITECH<span class="tip tip-new">Yeni</span></span></a></li>
                                    <li><a href="category-boxed.html"><span>JOVI<span class="tip tip-new">Yeni</span></span></a></li>
                                    <li><a href="category-fullwidth.html"><span>MILAN<span class="tip tip-hot">+</span></a></li>
                                    <li><a href="product-category-boxed.html">SARFF</a></li>
                                    <li><a href="product-category-fullwidth.html">UBER</a></li>
                                    <li><a href="cart.html">TKART</a></li>
                                    <li><a href="checkout.html">KW-TRIO</a></li>
                                    <li><a href="wishlist.html">DAHLE</a></li>
                                    <li><a href="dashboard.html">COLOP</a></li>
                                    <li><a href="dashboard.html">404</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="product.html" class="sf-with-ul">Makinalar</a>
                                <ul>
                                    <li><a href="product.html">Evrak İmha</a></li>
                                    <li><a href="product-centered.html">Kağıt Kırma</a></li>
                                    <li><a href="product-extended.html"><span>Laminasyon Makinası<span class="tip tip-new">New</span></span></a></li>
                                    <li><a href="product-gallery.html">Para Sayma</a></li>
                                    <li><a href="product-sticky.html">Ciltleme Makinası</a></li>
                                    <li><a href="product-sidebar.html">Hesap Makinası</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="~/about/index" class="sf-with-ul">Hakkımızda</a>
                                <ul>
                                    <li><a href=~/about/index>Hakkımızda</a></li>
                                    <li><a href="~/about/Vision">Vizyon</a></li>
                                    <li><a href="~/about/service">Teknik Servis</a></li>
                                </ul>

                            </li>
                            <li>
                                <a href="about/contact" class="sf-with-ul">İletişim</a>
                            </li>
                        </ul>
                    </nav><!-- End .mobile-nav -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                    <nav class="mobile-cats-nav">
                        <li class="item-lead"><a href="#">MARKALAR</a></li>
                        <li class="item-lead"><a href="#">Cilt Sistemleri </a></li>
                        <li><a href="#">Display Ürünleri </a></li>
                        <li><a href="#">Evrak Imha Sistemleri </a></li>
                        <li><a href="#">Hesap Makineleri </a></li>
                        <li><a href="#">Kağıt Kesme Sistemleri</a></li>
                        <li><a href="#">Kaşe Sistemleri</a></li>
                        <li><a href="#">Kart Aksesuarları</a></li>
                        <li><a href="#">Kırtasiye Ürünleri </a></li>
                        <li><a href="#">Laminasyon Sistemleri</a></li>
                        <li><a href="#">Masaüstü Ofis Gereçleri</a></li>
                        <li><a href="#">Para Sayma Makineleri </a></li>
                        <li><a href="#">Uv Yazıcılar </a></li>
                        </ul><!-- End .mobile-cats-menu -->
                    </nav><!-- End .mobile-cats-nav -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->

            <div class="social-icons">
                <a href="https://www.facebook.com/teknikatilimTR" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="https://www.instagram.com/teknik_atilim" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->
    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>


                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->


    @*Ana Sayfa İndirim Baneri*@
   @*  <div class="container newsletter-popup-container mfp-hide" id="newsletter-popup-form">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row no-gutters bg-white newsletter-popup-content">
                    <div class="col-xl-3-5col col-lg-7 banner-content-wrap">
                        <div class="banner-content text-center">
                            <img src="assets/images/popup/newsletter/logo.png" class="logo" alt="logo" width="60" height="15">
                            <h2 class="banner-title">get <span>25<light>%</light></span> off</h2>
                            <p>Subscribe to the Molla eCommerce newsletter to receive timely updates from your favorite products.</p>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="register-policy-2" required>
                                <label class="custom-control-label" for="register-policy-2">Do not show this popup again</label>
                            </div><!-- End .custom-checkbox -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div> *@
    <!-- Plugins JS File -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="~/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/assets/js/superfish.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/bootstrap-input-spinner.js"></script>
    <script src="~/assets/js/jquery.plugin.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/jquery.countdown.min.js"></script>
    <!-- Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/demos/demo-3.js"></script>
</body>


<!-- molla/index-3.html  22 Nov 2019 09:55:58 GMT -->
</html>