@model IEnumerable<MyTeknik.Model.Entities.Brand>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="ltr:flex flex-1 rtl:flex-row-reverse">
    <div class="page-wrapper relative ltr:ml-auto rtl:mr-auto rtl:ml-0 w-[calc(100%-260px)] px-4 pt-[64px] duration-300">
        <a asp-area="Admin" asp-controller="Brand" asp-action="Add" class="btn btn-success">Yeni Marka EKLE</a> <br /> <br />
        <div class="container">
            <div class="row">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Marka ID</th>
                            <th scope="col">Marka Adı</th>
                            <th scope="col">GÜNCELLE</th>
                            <th scope="col">SİL</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.BrandName</td>
                                <td><a class="btn btn-warning" asp-area="Admin" asp-controller="Brand" asp-action="Update" asp-route-id="@item.ID">Güncelle</a></td>
                                <td><a class="btn btn-danger" asp-area="Admin" asp-controller="Brand" asp-action="Delete" asp-route-id="@item.ID">Sil</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
